<form>
  <h1>{{document.name}}</h1>

  <label>Role</label>
  <input type="text" name="system.role" value="{{system.role}}">

  <label>HP</label>
  <div>
    <input type="number" name="system.hp.value" value="{{system.hp.value}}">
    /
    <input type="number" name="system.hp.max" value="{{system.hp.max}}">
  </div>
</form>