<form>
  <h1>{{document.name}}</h1>

  <div>
    <label>HP</label>
    <input type="number" name="system.hp.value" value="{{system.hp.value}}">
    /
    <input type="number" name="system.hp.max" value="{{system.hp.max}}">
  </div>

  <div>
    <label>Biography</label>
    <textarea name="system.biography">{{system.biography}}</textarea>
  </div>
</form>