<section class="pg-sheet">
  <div class="sheet-body">
    <header class="pg-sheet-header">
      <h1>{{document.name}}</h1>
      <div class="pg-item-sheet-mode">
        {{#if isEditMode}}
          Режим: редактирование
        {{else}}
          Режим: просмотр
        {{/if}}
      </div>
    </header>

    <div class="pg-form-field">
      <label>Описание</label>
      <textarea name="system.description" {{#unless isEditMode}}disabled{{/unless}}>{{system.description}}</textarea>
    </div>
  </div>
</section>
