<section class="pg-sheet">
  <div class="sheet-body">
    <h1>{{document.name}}</h1>

    <div>
      <label>Description</label>
      <textarea name="system.description">{{system.description}}</textarea>
    </div>
  </div>
</section>